<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>WYM_Font_Demo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>3B606E451F0A2CDE00E5C54C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3B606E5E1F0A2CDE00E5C54C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3B606E691F0A2CDE00E5C54C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
